<app-header></app-header>

<div class="card-movie">
    @if (selectedMovie) {
    <h2> {{ selectedMovie.name }} </h2>
    <h3> {{ selectedMovie.duration }} </h3>
    <h3> {{ selectedMovie.director }} </h3>
    } @else {
    <h3>No hay ninguna película con ese nombre</h3>
    }
</div>

<button><a routerLink="/movies">Volver ></a></button>

<!-- Elementos html para mostrar las diferentes propiedades del array "movies" de cada item clicado (conteido alojado en la variable "selectedMovie")
 Se usa un condicional para comprobar si existe el item del id seleccionado @if(selectedItem) {mostrar la información pintada}, y si no existe (undefined) mostrará el mensaje del @else{mensaje error} -->