<!-- Para enlazar el elemento <form> con el formulario reactivo definido en el .ts del componente, se utiliza el atributo [formGroup]="nombreForm" que lo enlaza con la variable creada para este elemento en el .ts. Ademñas cada campo se debe enlazar con la variable respectiva con el atributo "formControlName"="valorVariableCampo"  -->

<form (submit)="handleSubmit()" [formGroup]="movieForm">
    <!-- Se crea el evento (submit) para que al enviar el formulario se ejexute el método creado en el .ts "handleSubmit()" -->
    <fieldset>
        <label for="movie-name">*Movie Name:</label>
        <input type="text" id="movie-name" formControlName="name" />
        @if (name.invalid && name.touched) {
        <p class="form-error">Name is required</p>
        } <!--  -->
    </fieldset>
    <fieldset>
        <label for="duration">*Movie Duration:</label>
        <input type="number" id="duration" formControlName="duration" />

        <!-- Se edeebe utilizar .hasError("Nombre_Validator") cuando hay más de un validator, ya que se deben comprobar dos condiciones de validator para este campo (requierd + max) -->
        @if (duration.hasError("required") && duration.touched) {
        <p class="form-error">Duration is required</p>
        } @else if (duration.hasError("max") && duration.touched) {
        <p class="form-error">Movie cannot be longer than 300 minutes</p>
        }
    </fieldset>
    <fieldset>
        <label for="director">Movie Director::</label>
        <input type="text" id="director" formControlName="director" />
    </fieldset>
    <button [disabled]="movieForm.invalid">Create Movie</button>
</form>