<app-header></app-header>
<h2>MOVIES</h2>

<!-- Para acceder a la variable de un servicio funciona como imprimir la propiedad de un objeto {{ nombreService.variable }}  -->
<h3>{{ movieService.heading }}</h3>

<!-- Con un bucle @for sacamos un listado de las peliculas, accediendo a la variable array "movies", y sacando las propiedades para cada item "movie": @for (item of nombreService.array; track $index) {}
Dentro de cada elemento de la lista mostramos cada propiedad del array (item.propiedad) -->
<ul class="movie-list">
    @for (movie of movieService.movies; track $index) {
    <li class="movie-item">
        <h2>{{ movie.name }}</h2>
        <h3>{{ movie.director }}</h3>
        <h4>{{ movie.duration }}</h4>
    </li>
    }
</ul>